<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laotan.easyreader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/easyreader_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/easyreader_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.zhihu.ZhiHuDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.main.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucent" />
        <activity
            android:name=".ui.activity.main.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucent" />
        <activity
            android:name=".ui.activity.zhihu.ZhiHuCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/windowTranslucentMovieTop" />
        <activity
            android:name=".ui.activity.zhihu.HomeAdjustmentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/windowTranslucentMovieTop" />
        <activity
            android:name=".ui.activity.zhihu.ZhihuThemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucent" />
        <activity
            android:name=".ui.activity.topnews.TopNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucent" />
        <activity
            android:name=".ui.activity.topnews.NBAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucent" />
        <activity
            android:name=".ui.activity.douban.MovieTopDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HalfTranslucent" />

        <activity
            android:name=".webview.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/windowTranslucentMovieTop" />
    </application>

</manifest>